/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

/* Dark mode styles */
body.bg-dark {
     background-color: #343a40 !important;
   }
   
   /* Light mode styles */
   body.bg-light {
     background-color: #fff !important;
   }

/******************************************
/* LAYOUT
/*******************************************/

.audio-div {
     width: 50vw;
     height: 500px;
     border: 1px solid black;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/